<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="erpserviceSoap11Binding" />
        <binding name="erpserviceSoap11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="erpserviceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="erpserviceSoap12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://47.103.1.140:8085/webservice/services/erpservice.erpserviceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="erpserviceSoap11Binding"
        contract="ServiceReference1.erpservicePortType" name="erpserviceHttpSoap11Endpoint" />
      <endpoint address="http://47.103.1.140:8085/webservice/services/erpservice.erpserviceHttpSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="erpserviceSoap12Binding"
        contract="ServiceReference1.erpservicePortType" name="erpserviceHttpSoap12Endpoint" />
      <endpoint address="http://101.132.254.71:8090/webservice/services/erpservice.erpserviceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="erpserviceSoap11Binding1"
        contract="ServiceReference2.erpservicePortType" name="erpserviceHttpSoap11Endpoint1" />
      <endpoint address="http://101.132.254.71:8090/webservice/services/erpservice.erpserviceHttpSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="erpserviceSoap12Binding1"
        contract="ServiceReference2.erpservicePortType" name="erpserviceHttpSoap12Endpoint1" />
    </client>
  </system.serviceModel>
</configuration>