<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MiddleServiceSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="MiddleServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>           
            <endpoint address="http://www.dencare.com.cn:5889/eisp/services/MiddleService.MiddleServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="MiddleServiceSoap12Binding"
                contract="LSLRMS.MiddleServicePortType" name="MiddleServiceHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>