<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MiddleServiceSoap11Binding"/>
				<binding name="SystemWSSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="MiddleServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
			<endpoint address="http://10.205.200.202/omsserver/SystemWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="SystemWSSoap"
                contract="SySWS.SystemWSSoap" name="SystemWSSoap" />
            <endpoint address="http://www.dencare.com.cn:5889/eisp/services/MiddleService.MiddleServiceHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="MiddleServiceSoap12Binding" contract="LSLRMS.MiddleServicePortType" name="MiddleServiceHttpSoap12Endpoint"/>
        </client>
    </system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
