<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="InPath" value="Y:\STANDAEDI\OrderProcessing\MASTER\Backup\" />
      <add key="OutPath" value="Y:\STANDAEDI\OrderProcessing\MASTER\Backup\2011\" />
      <add key="AllFile" value="1" />
    </appSettings>
</configuration>