<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="zdk2_bounding">
                    <!--    WsdlImporter 在 ServiceDescription“urn:sap-com:document:sap:rfc:functions”中遇到了无法识别的策略断言:    -->
                    <!--    <wsdl:binding name='zdk2_bounding'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10"/>
                    <httpsTransport authenticationScheme="Basic"/>
                </binding>
                <binding name="zdk2_bounding_soap12">
                    <!--    WsdlImporter 在 ServiceDescription“urn:sap-com:document:sap:rfc:functions”中遇到了无法识别的策略断言:    -->
                    <!--    <wsdl:binding name='zdk2_bounding_soap12'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding/>
                    <httpsTransport authenticationScheme="Basic"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <!--<endpoint address="https://sapep0-ap1.dencare.com:44300/sap/bc/srt/rfc/sap/zdk_server2/800/zdk_server2/zdk2_bounding"
                binding="customBinding" bindingConfiguration="zdk2_bounding"
                contract="LSLService.zdk_server2" name="zdk2_bounding" />-->
            <endpoint address="https://sapep0-ap1.dencare.com:44300/sap/bc/srt/rfc/sap/zdk_server2/800/zdk_server2/zdk2_bounding" binding="customBinding" bindingConfiguration="zdk2_bounding_soap12" contract="LSLService.zdk_server2" name="zdk2_bounding_soap12"/>
        </client>
    </system.serviceModel>
</configuration>
