<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="zdk2_bounding_soap12">                    
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            
            <endpoint address="https://sapep0-ap1.dencare.com:44300/sap/bc/srt/rfc/sap/zdk_server2/800/zdk_server2/zdk2_bounding"
                binding="customBinding" bindingConfiguration="zdk2_bounding_soap12"
                contract="LSLIpWebService.zdk_server2" name="zdk2_bounding_soap12" />
        </client>
    </system.serviceModel>
</configuration>