<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SystemWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.205.200.202/omsserver/SystemWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="SystemWSSoap"
                contract="SySWS.SystemWSSoap" name="SystemWSSoap" />
        </client>
    </system.serviceModel>
</configuration>